.button {
    font-family: "Oswald";
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    background: #fd5433;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.8),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.68);
	text-decoration: none;
	outline: none;
	
	&:hover, &:focus{
		background: #fa421e;
	}
}

.banner__button{
	padding: 6.5px 62px;
	border-radius: 5px;
}


.feedback__button{
	width: 100%;
	border: none;
}

.contact__content{
	padding-top: 25px;
	padding-bottom: 80px;
}