.menu{
	font-size: 17px;
	font-weight: bold;
	font-family: "Oswald";
	text-transform: uppercase;
}

.menu-list__item{
	display: inline-block;
}

.menu-list__link{
	padding: 30px 15px;
	
	&:hover, &:focus{
		color: #fff;
		background-color: #fd5433;
	}
}