/*Шрифты*/
@font-face{
	font-family: "Oswald";
	src: url("../fonts/Oswald-Bold.ttf") format("truetype"),
		 url("../fonts/Oswald-Bold.woff") format("woff"),
		 url("../fonts/Oswald-Bold.woff2") format("woff2"),
		 url("../fonts/Oswald-Bold.svg#Oswald-Bold") format("svg"),
		 url("../fonts/Oswald-Bold.eot"),
		 url("../fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueRegular.ttf") format("truetype"),
		 url("../fonts/BebasNeueRegular.woff") format("woff"),
		 url("../fonts/BebasNeueRegular.woff2") format("woff2"),
		 url("../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg"),
		 url("../fonts/BebasNeueRegular.eot"),
		 url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

/*
*Общие стили
*/
*{
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 921px){
	html{
		font-size: 10px;
	}
}

@media screen and (max-width: 920px) and (min-width: 641px){
	html{
		font-size: 9px;
	}
}

@media screen and (max-width: 640px){
	html{
		font-size: 8px;
	}
}

body{
	font-family: "Bebas Neue", Arial, sans-serif;
	font-size: 1.6rem;
	color: #000;
	background: #fff;
}

/*
*Типографика
*/

@import "typography/link.less";
@import "typography/title.less";
@import "typography/list.less";
@import "typography/paragraph.less";

/*
*Файлы для облегчения работы польователя
*/

@import "helpers/clearfix.less";
@import "helpers/functions.less";

/*
*Каркасы основных блоков
*/
@import "layout/grid.less";
@import "layout/header.less";
@import "layout/footer.less";

/*
*Компоненты страницы
*/

@import "components/menu.less";
@import "components/button.less";


/*
*секции страницы
*/

@import "sections/banner.less";
@import "sections/section.less";
@import "sections/services.less";
@import "sections/about.less";
@import "sections/latest-posts.less";
@import "sections/portfolio.less";
@import "sections/contact.less";