.title{
	font-size: 25px;
	font-family: "Oswald";
}

.title_large{
    font-size: 32px;
}

.title_middle{
	font-size: 30px;
}

.title_small{
	font-size: 22px;
}

.title_uppercase{
	text-transform: uppercase;
}