.about__img-box{
	display: inline-block;
	width: 20%
}

.contributor__inner{
	background-color: #fd5433;
	margin-top: 6rem;
	padding-top: 6.5rem;
	padding-bottom: 4.5rem;
	color: #fff;
}

.contributor__info{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.icon_social-networks{
    background-repeat: no-repeat;
    display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 15px;
	text-indent: -99999px;
	
	&:hover, &:focus{
		opacity: .8;
	}
}

.icon_social-networks-facebook{
	.path("icon/facebook.png");
}

.icon_social-networks-google{
	.path("icon/google+.png");
}

.icon_social-networks-vimeo{
	.path("icon/Vimeo.png");
}

.icon_social-networks-dribble{
	.path("icon/Dribbble.png");
}

.icon_social-networks-youtube{
	.path("icon/youtube.png");
}

.skill__name, .skill__progress, .skill__value{
	display: inline-block;
}

.skill__name{
	text-transform: uppercase;
}

.skill{
	margin-bottom: 12px;
	font-family: Arial;
}

.skill__progress{
	height: 10px;
}

progress{
	background-color: #fd5433;
}

progress::-webkit-progress-bar{
    background-color: #fd5433;
}

progress::-webkit-progress-value{
	background-color: #fff;
}

progress::-moz-progress-bar{
	background-color: #fd5433;
}

progress::-moz-progress-value{
	background-color: #fff;
}

.skill_align-space-between, 
.skill__inner_align-space-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (min-width: 921px){
	
	.about__content{
		padding-top: 6rem;
	}
	
	.contributor__article, .contributor__skills{
		width: 45%;
		display: inline-block;
	}
	
	.skill__progress{
		width: 84.5%;
	}
			
	.skill__inner{
		width: 70%;
	}
}

@media screen and (max-width: 920px) and (min-width: 641px){
	
	.about__content{
		padding-top: 5rem;
	}
	
	.contributor__article, .contributor__skills{
		width: 45%;
		display: inline-block;
	}
	
	.skill__progress{
		width: 70%;
	}
		
	.skill__inner{
		width: 60%;
	}
}

@media screen and (min-width: 641px){
	
	.skills__inner, .contributor__description, .contributor__socials{
		margin-top: 5rem;
	}
}

@media screen and (max-width: 640px){
	
	.about__content{
		padding-top: 4rem;
	}
	
	.contributor__article, .contributor__skills{
		width: 100%;
		display: inline-block;
	}
	
	.skill__progress{
		width: 80%;
	}
		
	.skill__inner{
		width: 65%;
	}
	
	.skills__inner, .contributor__description, .contributor__socials, .contributor__skills{
		margin-top: 3rem;
	}
}