.banner{
	background-color: #b2b2b2;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
	text-transform: uppercase;
}

.banner__content{
	padding-top: 24rem;
	padding-bottom: 35.5rem;
}

.banner__inscription{
	margin-bottom: 5.5rem;
	display: block;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 921px){

	.banner{
		.path("content/banner.jpg");
	}

	.banner__inscription{
		font-size: 12.5rem;
	}
}

@media screen and (max-width: 920px)and (min-width: 641px){

	.banner{
		.path("content/banner_920.jpg");
	}
	
	.banner__inscription{
		font-size: 8.5rem;
	}
}

@media screen and (max-width: 640px){

	.banner{
		.path("content/banner_640.jpg");
	}

	.banner__inscription{
		font-size: 6rem;
	}
}