.footer__ineer{
	.path("content/bg-contact.png");
	background-color: #b2b2b2;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.footer__content{
	padding-top: 60px;
	padding-bottom: 80px;
}

.request-form_align-space-between{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.request-form__element{
	width: 47%;
	height: 37px;
	padding: 10px;
	font-size: 20px;
	font-family: Arial;
	font-style: Italic;
	margin-bottom: 20px;
	color: #fd5433;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari*/
	color: #fd5433;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fd5433;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fd5433;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fd5433;
}

.request-form__element_large{
	width: 100%;
	height: 210px;
	resize: none;
}