.latest-posts__content{
	margin-top: 95px;
}

.latest-post{
	display: inline-block;
	width: 48.71%;
	margin-bottom: 80px;
}

.latest-post__img{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	margin-top: 7px;
	width: 270px;
}

.latest-post__header{
	position: relative;
}

.latest-post__header:before{
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	border-bottom: 2px solid #fd5433;
	width: 80px;
}

.latest-post__inner{
	display: inline-block;
	vertical-align: top;
	width: 47%;
}

.latest-post__date{
	margin-top: 10px;
	font-size: 15px;
	font-family: "Oswald";
	color: #686868;
}

.latest-post__description{
	margin-top: 43px;
}